<!-- <form [formGroup]="form" method="post">
  <div class="container">
    <h1>Login</h1>

    <hr>

    <label for="email"><b>Email</b></label>
    <input formControlName="email" type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input formControlName="password" type="password" placeholder="Enter Password" name="psw" required>


    <div class="clearfix">
      <button (click)='submit()' type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form> -->


<body>


  <div class="main">
    <div class="login">
      <form [formGroup]="form" method="post">
        <label for="chk" aria-hidden="true">Login</label>
        <hr>

        <input formControlName="email" type="text" placeholder="Enter Email" name="email" required>
        <input formControlName="password" type="password" placeholder="Enter Password" name="psw" required>

        <button (click)='submit()' type="submit" class="signupbtn">Login</button>
        <p class="here">You dont have an account? <br> Please click <a href="" style="color:dodgerblue">here</a> to register.</p>

      </form>
    </div>
  </div>

</body>
